<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Store Node App</title>
    </head>
    <body>  
        <input type="text" id="txt_username" name="txt_username" placeholder="Username">
    </body>