doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title= user.firstName + " " + user.lastName + "'s basket"
    body
        #divContainer
            #divProducts
                each val in basket.products
                    a(href=``)= val.name
                    hr
                p= basket.price
                
