doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Pay Now!
    body
        form(action="", method="post")
            p Your basket:
            br
            each val in basket.products
                a(href=`#`)= val.name
                label  di
                label= " " + val.seller.firstName + " " + val.seller.lastName
                p= " Price: " + val.price + "€"
                #divButtonsProduct
                    button(type="submit", id="btnRemoveProduct") Remove from the basket
                hr
            
