<!DOCTYPE html>
<html>
    <head>
        <title>Store App</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="/api/products/">Lista prodotti</a>
        <a href="/api/products/nameCrescente">Per nome: Crescente</a><br/>
        <a href="/api/products/nameDecrescente">Per nome: Discendente</a><br/>
        <a href="/api/products/priceCrescente">Per prezzo: Crescente</a><br/>
        <a href="/api/products/priceDecrescente">Per prezzo: Decrescente</a><br/>
    </body>
</html>