<!DOCTYPE html>
<html>
    <head>
        <title>Store App</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="GET" action="/api/products/">
            <input type="submit" value="Lista prodotti">
        </form>
    </body>
</html>