doctype html
html
    head
        title Store App
        meta(charset = 'UTF-8')
    body    
        div#container
            div#listFilter
                a(href="/api/products/", class="linkFilter") Per nome: Crescente
                br
                a(href='/api/products/nameDecrescente', class="linkFilter") Per nome: Discendente
                br
                a(href='/api/products/priceCrescente', class="linkFilter") Per prezzo: Crescente
                br
                a(href='/api/products/priceDecrescente', class="linkFilter") Per prezzo: Decrescente
            div#divListCategories
                ul(id='listCategory')
                    li 
    
