<!DOCTYPE html>
<html>
    <head>
        <title>Store App</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="POST" action="/api/products/">
            <a href="#">Lista prodotti</a>
        </form>
    </body>
</html>