doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Add Address
    body    
        if err
            script.
                errorAlertAddress("#{err}")
        #divContainer
            div#divForm
                if btnBack == 'address'
                    a(href=`/api/myProfile/changeAddress`)
                        img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                
                else if btnBack == "checkout"
                    a(href='/api/payments/pay')
                        img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                
                else
                    a(href=`/api/myProfile`)
                        img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                
                if btnBack == "checkout"
                    form(action=`/api/address/checkout`, method="post")
                        div(class="divInput")
                            label(for="txtName") Name
                            input#txtName(type="text", name="txtName", placeholder="Name and Surname")
                        div(class="divInput")
                            label(for="txtStreet") Street
                            input#txtStreet(type="text", name="txtStreet", placeholder="Street")
                        div(class="divInput")
                            label(for="txtTown") Town
                            input#txtTown(type="text", name="txtTown", placeholder="Town")
                        div(class="divInput")
                            label(for="txtCity") City
                            input#txtCity(type="text", name="txtCity", placeholder="City")
                        div(class="divInput")
                            label(for="txtCountry") Country
                            input#txtCountry(type="text", name="txtCountry", placeholder="Country")
                        div(class="divInput")
                            label(for="txtZipCode") ZIP code
                            input#txtZipCode(type="text", name="txtZipCode", placeholder="Zip Code")
                        div(class="divInput")
                            label(for="txtPhoneNumber") Phone Number
                            input#txtPhoneNumber(type="text", name="txtPhoneNumber", placeholder="Phone Number")
                        div(class="divInput")
                            input(type="reset", value="Reset")
                            input(type="submit", value="Add")
                                     
                else
                    form(action=`/api/address/manage`, method="post")
                        div(class="divInput")
                            label(for="txtName") Name
                            input#txtName(type="text", name="txtName", placeholder="Name and Surname")
                        div(class="divInput")
                            label(for="txtStreet") Street
                            input#txtStreet(type="text", name="txtStreet", placeholder="Street")
                        div(class="divInput")
                            label(for="txtTown") Town
                            input#txtTown(type="text", name="txtTown", placeholder="Town")
                        div(class="divInput")
                            label(for="txtCity") City
                            input#txtCity(type="text", name="txtCity", placeholder="City")
                        div(class="divInput")
                            label(for="txtCountry") Country
                            input#txtCountry(type="text", name="txtCountry", placeholder="Country")
                        div(class="divInput")
                            label(for="txtZipCode") ZIP code
                            input#txtZipCode(type="text", name="txtZipCode", placeholder="Zip Code")
                        div(class="divInput")
                            label(for="txtPhoneNumber") Phone Number
                            input#txtPhoneNumber(type="text", name="txtPhoneNumber", placeholder="Phone Number")
                        div(class="divInput")
                            input(type="reset", value="Reset")
                            input(type="submit", value="Add")