doctype html
html
    head 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Change Name
    body
        if err
            script.
                errorAlertChangeName("#{err}")
        div#divContainer
            div#divForm
                a(href=`/api/myProfile`)
                    img(src="/img/back.png", class="btnCloseForm", alt="Go back")
                form(action=`/api/myProfile/changeName`, method="post")
                    div(class="divInput")
                        label First Name
                        input#txtFirstName(type="text", name="txtFirstName", class="txtChangeName", value=user.firstName)
                    div(class="divInput")
                        label Last Name
                        input#txtLastName(type="text", name="txtLastName", class="txtChangeName", value=user.lastName)
                    div(class="divInput")
                        input(type="submit", value="Change")
                        input(type="reset", value="Reset")