doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Change Email
    body
        if err
            script.
                errorAlertChangeEmail("#{err}")
        #divContainer
            div#divForm
                a(href=`/api/myProfile`) 
                    img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                form(action=`/api/myProfile/changeEmail`, method="post")
                    div(class="divInput")
                        label(for="txtOldEmail") Old Email
                        input#txtOldEmail(type="email", name="txtOldEmail", value=user.email, disabled)
                    div(class="divInput")
                        label(for="txtNewEmail") New Email
                        input#txtNewEmail(type="email", name="txtNewEmail", placeholder="New Email Address")
                    div(class="divInput")
                        label(for="txtConfirmNewEmail") Confirm New Email
                        input#txtConfirmNewEmail(type="email", name="txtConfirmNewEmail", placeholder="Confirm Email Address")
                    div(class="divInput")
                        label(for="txtPassword") Password
                        input#txtPassword(type="password", name="txtPassword", placeholder="Password")
                    div(class="divInput")
                        input(type="reset", value="Reset")
                        input(type="submit", value="Change")
