doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Change Password
    body
        #container
            form(action=`/api/myProfile/changePassword/${token}`, method="post")
                input#txtOldPassword(type="password", name="txtOldPassword", placeholder="Old Password")
                br
                input#txtNewPassword(type="password", name="txtNewPassword", placeholder="Password")
                br
                input#txtConfirmPassword(type="password", name="txtConfirmPassword", placeholder="Confirm Password")
                br
                input(type="submit", value="Change")
                br
                input(type="reset", value="Reset")
                br
                a(href=`/api/myProfile/${token}`)