doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Change Password
    body
        #divContainer
            div#divForm
                form(action=`/api/myProfile/changePassword/${token}`, method="post")
                    div(class="inputDiv")
                        input#txtOldPassword(type="password", name="txtOldPassword", placeholder="Current Password")
                        input#txtPassword(type="password", name="txtPassword", placeholder="Password")
                    
                        input#txtConfirmPassword(type="password", name="txtConfirmPassword", placeholder="Confirm Password")
                    
                        input(type="submit", value="Change")
                        input(type="reset", value="Reset")
                
            a(href=`/api/myProfile/${token}`) Go Back