doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="styleOperations.css")
        title Change Password
    body
        #divContainer
            form(action=`/api/myProfile/changePassword/${token}`, method="post")
                input#txtOldPassword(type="password", name="txtOldPassword", placeholder="Current Password")
                br
                input#txtPassword(type="password", name="txtPassword", placeholder="Password")
                br
                input#txtConfirmPassword(type="password", name="txtConfirmPassword", placeholder="Confirm Password")
                br
                input(type="submit", value="Change")
                br
                input(type="reset", value="Reset")
                br
                a(href=`/api/myProfile/${token}`) Go Back