doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Add Address
    body
        #divContainer
            div#divForm
                if btnBack == 'address'
                    a(href=`/api/myProfile/changeAddress/${token}`)
                        img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                else
                    a(href=`/api/myProfile/${token}`)
                        img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                form(action=`/api/address/${token}`, method="post")
                    div(class="divInput")
                        label Name
                        input#txtName(type="text", name="txtName", placeholder="Name and Surname")
                    div(class="divInput")
                        label Street
                        input#txtStreet(type="text", name="txtStreet", placeholder="Street")
                    div(class="divInput")
                        label City
                        input#txtCity(type="text", name="txtCity", placeholder="City")
                    div(class="divInput")
                        label Country
                        input#txtCountry(type="text", name="txtCountry", placeholder="Country")
                    div(class="divInput")
                        label ZIP code
                        input#txtZipCode(type="text", name="txtZipCode", placeholder="Zip Code")
                    div(class="divInput")
                        label Phone Number
                        input#txtPhoneNumber(type="text", name="txtPhoneNumber", placeholder="Phone Number")
                    div(class="divInput")
                        input(type="submit", value="Add")
                        input(type="reset", value="Reset")