doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Add Payment
    body
        if err
            script.
                errorAlertAddPayment("#{err}")
        #divContainer
            #divForm
                if redirect == "checkout"
                    a(href=`/api/payments/pay`)
                        img(src="/img/back.png", id="btnGoBackEditPayment", alt="Go Back")
                    form(action=`/api/payments/addPayment/checkout`, method="post")       
                        div(class="divInput")
                            label(for="txtCardHolder") Card Owner
                            input#txtCardHolder(type="text", name="txtCardHolder")
                        div(class="divInput")
                            label Card Circuit
                            select(name="selCardCircuit")
                                option(value="Visa") Visa
                                option(value="MasterCard") MasterCard
                                option(value="American Express") American Express
                                option(value="Maestro") Maestro
                        div(class="divInput")
                            label(for="txtCardNumber") Card Number
                            input#txtCardNumber(type="text", name="txtCardNumber")
                        div(class="divInput", id="inputDate")
                            label Expired Date
                            br
                            input#txtMonthExpired(type="number", name="txtMonthExpired", min=1, max=12, placeholder="MM")
                            label / 
                            input#txtYearExpired(type="number", name="txtYearExpired", min=2018, max=2030, placeholder="YYYY")
                        div(class="divInput")
                            input(type="submit", value="Add")
                            input(type="reset", value="Reset")

                else
                    a(href=`/api/payments/managePayment`)
                        img(src="/img/back.png", id="btnGoBackEditPayment", alt="Go Back")
                    form(action=`/api/payments/addPayment/manage`, method="post")       
                        div(class="divInput")
                            label(for="txtCardHolder") Card Owner
                            input#txtCardHolder(type="text", name="txtCardHolder")
                        div(class="divInput")
                            label Card Circuit
                            select(name="selCardCircuit")
                                option(value="Visa") Visa
                                option(value="MasterCard") MasterCard
                                option(value="American Express") American Express
                                option(value="Maestro") Maestro
                        div(class="divInput")
                            label(for="txtCardNumber") Card Number
                            input#txtCardNumber(type="text", name="txtCardNumber")
                        div(class="divInput", id="inputDate")
                            label Expired Date
                            br
                            input#txtMonthExpired(type="number", name="txtMonthExpired", min=1, max=12, placeholder="MM")
                            label / 
                            input#txtYearExpired(type="number", name="txtYearExpired", min=2018, max=2030, placeholder="YYYY")
                        div(class="divInput")
                            input(type="submit", value="Add")
                            input(type="reset", value="Reset")