doctype html
html
    head
        meta(charset = "UTF-8") 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        script(src="/js/mainScript.js")
        link(rel="stylesheet", href="/css/styleProfile.css")
        title= user.firstName + " " + user.lastName + "'s profile"
    body
        #divContainer
            div#profileOperations
                h2 Your Account
                div#divContainerTop
                    div#divTopLeft(class="divTop")
                        a(href=`/api/myProfile/changeName`)
                            img(src="/img/profile.png" alt="Icon Name")
                            h3(class="headerLabelLink") Change name
                    div#divTopCenter(class="divTop")
                        a(href=`/api/myProfile/changeEmail`)
                            img(src="/img/email.png" alt="Icon Email")
                            h3(class="headerLabelLink") Change email address
                    div#divTopRight(class="divTop")
                        a(href=`/api/myProfile/changePassword`)
                            img(src="/img/padlock.png" alt="Icon Password")
                            h3(class="headerLabelLink") Change password
                div#divContainerBot
                    div#divBottomLeft(class="divBottom")
                        a(href=`/api/orders`) 
                            img(src="/img/order.png" alt="Icon Orders")
                            h3(class="headerLabelLink") Orders
                    div#divBottomCenter(class="divBottom")
                        a(href=`/api/myProfile/changeAddress`)
                            img(src="/img/address.png" alt="Icon Address")
                            h3(class="headerLabelLink") Manage addresses
                    div#divBottomRight(class="divBottom")
                        a(href=`/api/payments/managePayment/`)
                            img(src="/img/cardsvg.png" alt="Icon Card")
                            h3(class="headerLabelLink") Manage payment methods
                    br
                div#divBack
                    a(href=`/api/products/showProducts`, id="btnBack") 
                        label Go back to the store
                br
                #divDelete
                    a(href="/api/myProfile/logout", id="btnLogout")
                        label Logout
                br
                #divLogout
                    a(href='#', id="btnDelete")
                        label Delete account
        #divFooter
                    #divFooterLeft
                        a(href="#")
                            h4 About Us
                    #divFooterCenter
                        a(href="/api/myProfile/logout")
                            h4 Logout
                    #divFooterRight
                        a(href="#")
                            h4 Contact Us