doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js")
        script(src="/js/alerts.js")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css")
        link(rel="stylesheet", href="/css/styleOperations.css")
        title Change Password
    body
        if err
            script.
                errorAlertChangePassword("#{err}")
        #divContainer
            div#divForm
                a(href=`/api/myProfile/${token}`)
                    img(src="/img/back.png", alt="Go Back", class="btnCloseForm")
                form(action=`/api/myProfile/changePassword/${token}`, method="post")
                    div(class="divInput")
                        label Old Password
                        input#txtOldPassword(type="password", name="txtOldPassword", placeholder="Current Password")
                    div(class="divInput")    
                        label New Password
                        input#txtPassword(type="password", name="txtPassword", placeholder="Password")
                    div(class="divInput")
                        label Confirm New Password
                        input#txtConfirmPassword(type="password", name="txtConfirmPassword", placeholder="Confirm Password")
                    div(class="divInput")
                        input(type="submit", value="Change")
                        input(type="reset", value="Reset")
                
            