doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Add Address
    body
        input#txtName(type="text", name="txtName", placeholder="Name and Surname")
        br
         