@import "http://fonts.googleapis.com/css?family=Raleway";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.png');
    font-family: "Raleway";
}

#divContainer {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

#divForm {
    width: 350px;
    border: 1px solid white;  
    border-radius: 6px; 
    position: relative;
    margin: 0 auto; 
    padding-left: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.divInput {
    width: 60%;
    margin-left: 3rem;
    padding-top: 17px;
}

.divInput input[type="submit"] { 
    margin-bottom: 20px;
}

input[type="submit"] {
    height: 3rem;
    width: 46%;
    margin-left: 0.8em;
    background-color: #d1d1d1;
    color: black;
    border: 1.2px solid #d1d1d1;
    cursor: pointer;
    letter-spacing: 0.12em;
    padding-top: 5px !important;
}

input[type="reset"] {
    background-color: transparent;
    width: 46%;
    height: 3rem;
    margin-left: 4px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    letter-spacing: 0.12em;
    padding-top: 5px !important;
}

#divForm label{
    color: white;
    margin-top: 5px;
    padding-left: 0.5em;
    font-size: 13px;
    letter-spacing: 0.15em;
}

input[type="text"], input[type="email"], input[type="password"], select {
    padding-left: 1em;
    width: 100%;
    height: 2.5em;
    background-color: transparent;  
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="reset"]:hover, #btnDelete:hover, #btnReset:hover {
    border: 1px solid rgb(68, 199, 255);
    background-color: rgba(255, 255, 255, 0.075);
    transition-duration: 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="reset"]:focus, #btnDelete:focus, #btnReset:focus {
    border: 1px solid rgb(68, 199, 255);
    background-color: rgba(255, 255, 255, 0.075);
    transition-duration: 0.3s;
}

input[type="submit"]:hover, #btnChange:hover, input[type="submit"]:focus, #btnChange:focus {
    border: 1.2px solid rgb(68, 199, 255);
    transition-duration: 0.3s;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

.btnCloseForm{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.btnCloseForm:hover {
    width: 42px;
    height: 42px;
    transition-duration: 0.6s;
}



/* ==== Address ==== */

#divAddresses {
    width: 60%;
    height: 450px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    min-width: 1400px;
}

#divContainerTop {
    padding-top: 5em;
}

#divContainerTop img, #divContainerBottom img {
    margin-top: 0.9em;
    display: inline-block;
}


#p1Bottom {
    margin-top: 14px;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
}

#p2Bottom {
    margin-top: 23px !important;
    font-size: 17px;
    font-weight: 400;
}

.headerLabelLink {
    font-size: 17px;    
    font-weight: 400;
}

.divLinkTop, .divLinkBottom {
    width: 220px;
    height: 130px;
    border: 1px solid white;
    display: inline-block;
}

.divLinkTop a, .divLinkBottom a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.divLinkTop:hover, .divLinkBottom:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(68, 199, 255);
    transition-duration: 0.3s;
    cursor: pointer;
}

#divAddresses .divLinkTop:nth-child(2), #divAddresses .divLinkTop:nth-child(3) {
    margin-left: 3em;
}

#divAddresses .divLinkBottom:nth-child(2), #divAddresses .divLinkBottom:nth-child(3) {
    margin-left: 3em;
}

.divLinkBottom {
    margin-top: 32px;
}


/* ===== Payments ===== */

#divPayments {
    width: 60%;
    height: 450px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    min-width: 1400px;
}

#divPayments .divLinkTop:nth-child(2), #divPayments .divLinkTop:nth-child(3) {
    margin-left: 3em;
}

#divPayments .divLinkBottom:nth-child(2), #divPayments .divLinkBottom:nth-child(3) {
    margin-left: 3em;
}

#divContainerBottom p {
    margin-top: 28px;
}

#inputDate input[type="number"] {
    padding-left: 1em;
    width: 23%;
    height: 2.5em;
    background-color: transparent;  
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
}

#inputDate {
    margin-left: 5.3em;
}

#btnChange {
    height: 3rem;
    width: 46%;
    background-color: white;
    color: black;
    border: 1.2px solid white;
    cursor: pointer;
    letter-spacing: 0.12em;
    padding-top: 5px !important;
    margin-bottom: 0 !important;
    margin-left: 12px !important;
}

#btnReset {
    height: 3rem;
    width: 46%;
    background-color: transparent;
    color: white;
    border: 1.2px solid white;
    cursor: pointer;
    letter-spacing: 0.12em;
    padding-top: 5px !important;
    margin-bottom: 0 !important;
}

#btnDelete {
    height: 3rem;
    width: calc(100% - 12px);
    background-color: transparent;
    color: white;
    border: 1.2px solid white;
    cursor: pointer;
    letter-spacing: 0.12em;
    padding-top: 5px !important;
    margin-top: -5px;
}

#btnGoBackEditPayment{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#btnGoBackEditPayment:hover {
    width: 42px;
    height: 42px;
    transition-duration: 0.3s;
}

option {
    color: black;
}
