@import "http://fonts.googleapis.com/css?family=Raleway";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Raleway";
}

#container {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 0;
    background-color: transparent;
    left: 0;
    min-width: 1080px;
}

#divNav {
    width: 100%;
    height: 95px;
    background-color: rgb(35, 47, 62);
}

#divNav a {
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

#btnCategoriesSearch {
    background-color: #e0e0e0;
    height: 39px;
    width: 100px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

#btnCategoriesSearch:hover {
    background-color: #cecece;
}

#divSearchBar {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#divSearchBar input[type="text"] {
    position: relative;
    height: 35px;
    width: 50%;
    margin: 0 auto;
    padding-left: 2em;
    border: 1px solid white;
}

#divSearchBar button[type="submit"] {
    background-color: rgb(49, 104, 221);
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 0.12em;
}

#divSearchBar input[type="text"]:hover, #divSearchBar input[type="text"]:active, #divSearchBar input[type="text"]:focus {
    border: 1px solid rgb(68, 199, 255);
    transition-duration: 0.3s;
}

#divSearchBar button[type="submit"]:hover {
    background-color: rgba(84, 128, 221, 0.9);
    transition-duration: 0.3s;
}

#divBasket {
    display: inline-block;
    position: relative;
    float: right;
    right: 4em;
    height: 45px;
    border: 1px solid white;
    width: 100px;
    padding-bottom: 0;
}

#divProfile {
    position: relative;
    right: 10em;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    display: inline-block;  
    float: right;
}

#divProfile a {
    width: 100%;
    height: 100%;   
}

#divProducts {
    height: 100%;
    width: 100%;
}

#listFilter, #divListProducts, #divListCategories, #divImg {
    display: inline-block;
}

#listFilter {
    position: relative;
    width: 170px;
    height: 100%;
    float: left;
    border-right: 1px solid rgb(138, 138, 138);
    padding-left: 2em;
}

#listFilter label {
    font-style: italic;
}

#listFilter p {     
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 15px;
}

p.error {
    padding-left: 1em;
    font-style: italic;
    font-size: 15px;
}

#divTypeFilter2 {
    position: relative;
    top: -10px;
}

#listFilter ul {
    margin-top: 5px;
    list-style: none;
    padding-left: 0;
}

#listFilter a {
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
}

#linkAllProducts {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 15px;
}

#linkAllProducts {
    display: block;
}

#listFilter a:hover {
    color: rgb(255, 153, 0);
}

#listFilter a:visited {
    text-decoration: none;
    color: blue;
}

#listFilter a:visited:hover {
    color: rgb(255, 153, 0);
}

#divListProducts {
    width: calc(100% - 205px - 1em);
    display: inline-block;
}

#divListProducts h2 {
    padding-left: 0.6em;
}

#divListProducts a {
    text-decoration: none;
}

.divSingleProduct {
    width: 70%;
    display: inline-block;
}

.nameSeller {
    color: black !important;
    font-size: 12px;
}

.nameSeller:hover {
    color: rgb(255, 26, 26) !important;
    cursor: pointer;
}

#divListProducts a:hover {
    color: rgb(255, 153, 0);
}

#divListProducts a:visited {
    text-decoration: none;
    color:blue; 
}

#divListProducts a:visited:hover {
    color: rgb(255, 153, 0);
}

#divImg {
    width: 200px;
    height: 150px;
}

.formProduct {
    display: inline-block;
    position: relative;
    top: -3em;
    left: 1em;
    width: calc(90% - 200px);
}

.pDescriptionProduct {
    margin-top: 10px;
    font-size: 15px;
    font-style: italic;
}

.divPrice {
    display: inline-block;
    width: 10%;
}

.divPrice label {
    font-size: 14px !important;
}

.pPriceProduct {
    margin-top: 0;
    color: rgb(255, 26, 26);
    font-weight: bold;
}

.divButtonsProduct {
    width: 20%;
    display: inline-block;
}

input[type="submit"] {
    background-color: rgb(49, 104, 221);
    height: 68px;
    position: relative;
    top: -10px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    letter-spacing: 0.12em;
}

input[type="submit"]:hover {
    background-color: rgba(84, 128, 221, 0.9);
    border: 1px solid rgb(68, 199, 255);
    transition-duration: 0.3s;
}

#divListCategories {
    display: none;
}

#divListProducts ul {
    list-style: none;
    padding-left: 1em;
}

#divFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(35, 47, 62);
}

#divFooterLeft, #divFooterCenter, #divFooterRight {
    font-size: 15px;
    float: left;
    margin-left: 20%;
}

#divFooterLeft a, #divFooterCenter a, #divFooterRight a {
    color: white;
    text-decoration: none;
}

#divFooterLeft h4, #divFooterCenter h4, #divFooterRight h4 {
    color: white;
    text-decoration: none;
}

#divFooterLeft h4:hover, #divFooterCenter h4:hover, #divFooterRight h4:hover {
    color: orange;
    text-decoration: none;
}
