@import "http://fonts.googleapis.com/css?family=Raleway";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Raleway";
}

#divContainer {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 0;
    background-color: transparent;
    left: 0;
    min-width: 1080px;
}

.formProduct {
    display: inline-block;
    position: relative;
    top: -3em;
    left: 1em;
    width: calc(90% - 200px);
}

/*#divNav {
    width: 100%;
    height: 95px;
    background-color: rgb(35, 47, 62);
}

#divNav a {
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

#divHome {
    display: inline-block;
    position: relative;
    top: 45px;
    height: 45px;
    border: 1px solid white;
    width: 100px;
    padding-bottom: 0;
}

#divProfile {
    display: inline-block;
}*/


/* ===== Beginning style nav ===== */
#divNav {
    width: 100%;
    height: 95px;
    background-color: rgb(35, 47, 62);
    overflow: hidden;
    position: fixed; 
    top: 0; 
    z-index: 2;
}

#divNav a {
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

#btnCategoriesSearch {
    background-color: #e0e0e0;
    height: 39px;
    width: 100px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

#btnCategoriesSearch:hover {
    background-color: #cecece;
}

#divSearchBar {
    display: inline-block;
    width: 70%;
    position: relative;
    top: 10px;
    left: 30px;
}

#divSearchBar input[type="text"] {
    position: relative;
    height: 35px;
    width: 60%;
    margin: 0 auto;
    padding-left: 2em;
    border: 1px solid white;
}

#divSearchBar button[type="submit"] {
    background-color: rgb(49, 104, 221);
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 0.12em;
}

#divSearchBar input[type="text"]:hover, #divSearchBar input[type="text"]:active, #divSearchBar input[type="text"]:focus {
    border: 1px solid rgb(68, 199, 255);
    transition-duration: 0.3s;
}

#divSearchBar button[type="submit"]:hover {
    background-color: rgba(84, 128, 221, 0.9);
    transition-duration: 0.3s;
}

#divBasket {
    display: inline-block;
    position: relative;
    float: right;
    left: 8em;
    width: 100px;
    padding-bottom: 0;
    top: 60px;
}

#divBasket a, #divOrders a, #divNome a, #divHome a {
    text-decoration: none;
}

#divBasket i {
    font-size: 30px;
}

#labelBasketCount {
    font-size: 20px;
    padding-left: 7px;
}

#divBasket a:hover, #divBasket i:hover {
    cursor: pointer;
    text-decoration: underline;
}

#divBasket label:hover {
    cursor: pointer;
} 

#divLogo {
    float: left;
    display: inline-block;
    width: 200px;
    position: relative;
    top: 20px;
    left: 20px;
}

#divNome {
    display: inline-block;
    position: relative;
    top: 70px;
    right: 20em;
    font-size: 17px;
    letter-spacing: 0.07em; 
    float: right;
}

#divNome a:hover, #divNome label:hover {
    cursor: pointer;
    font-size: 17px;
    text-decoration: underline;
}

#divOrders {
    position: relative;
    float: right;
    top: 70px;
    right: 7em;
    display: inline-block;
    font-size: 17px;
    letter-spacing: 0.07em;
}

#divOrders a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#divOrders label:hover {
    cursor: pointer;
}

#divHome {
    display: inline-block;
    position: relative;
    width: 70px;
    top: 70px;
    left: 130px;
    font-size: 17px;
    letter-spacing: 0.07em; 
    float: left;
}

#divHome a {
    width: 100%;
    height: 100%;   
}

#divHome a:hover, #divHome label:hover {
    cursor: pointer;
    font-size: 17px;
    text-decoration: underline;
}
/* ===== Ending style nav ===== */


#divProducts {
    height: 100%;
    width: 65%;
    display: inline-block;
    float: left;
    margin-top: 95px;
}

#divProducts h2 {
    padding-left: 0.6em;
}

#divProducts label {
    font-size: 12px;
}

#divProducts a {
    text-decoration: none;
    font-weight: 500;
}

.nameSeller:hover {
    color: rgb(255, 26, 26);
    cursor: pointer;
}

#divProducts a:hover {
    color: rgb(255, 153, 0);
}

#divProducts a:visited {
    text-decoration: none;
    color:blue; 
}

.divSingleProduct {
    width: 55%;
    display: inline-block;
}

#divProducts ul {
    list-style: none;
    padding-left: 1em;
}

#divProducts a:visited:hover {
    color: rgb(255, 153, 0);
}

#divImg {
    display: inline-block;
    width: 200px;
    height: 150px;
}

.pDescriptionProduct {
    margin-top: 10px;
    font-size: 15px;
    font-style: italic;
}

.divPrice {
    display: inline-block;
    width: 10%;
    margin-left: 3em;
    margin-right: 2em;
}

.divPrice label {
    letter-spacing: 0.075em;
    font-weight: 700;
    font-size: 14px !important;
}

.pPriceProduct {
    margin-top: 0;
    color: rgb(255, 26, 26);
    font-weight: bold;
}

#divButtonsProduct {
    width: 15%;
    display: inline-block;
}

input[type="submit"] {
    background-color: rgb(49, 104, 221);
    height: 48px;
    position: relative;
    top: -10px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    letter-spacing: 0.12em;
}

input[type="submit"]:hover {
    background-color: rgba(84, 128, 221, 0.9);
    border: 1px solid rgb(68, 199, 255);
    transition-duration: 0.3s;
}

#divCheckout {
    width: 260px;
    display: inline-block;
    border: 1px solid black;
    position: fixed;
    top: 115px;
    right: 11em;
    text-align: center;
    border-radius: 6px;
}

#divCheckout input[type="submit"] {
    width: 220px;
    margin-top: 10px;
}

#divNumberArticles p{
    font-weight: 600;
    display: inline-block;
}

#divNumberArticles label{
    font-weight: 600;
    font-size: 18px;
    margin-left: 3px;
    color: green;
    display: inline-block;
}

#divButtonBuy p{
    margin-top: 0px;
    font-weight: 600;
    color: red;
}

#divFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(35, 47, 62);
    z-index: 2;
}

#divFooterLeft, #divFooterCenter, #divFooterRight {
    font-size: 15px;
    float: left;
    margin-left: 20%;
}

#divFooterLeft {
    margin-left: 23%;
}

#divFooterCenter {
    margin-left: 22%;
}

#divFooterLeft a, #divFooterCenter a, #divFooterRight a {
    color: white;
    text-decoration: none;
}

#divFooterLeft h4, #divFooterCenter h4, #divFooterRight h4 {
    color: white;
    text-decoration: none;
}

#divFooterLeft h4:hover, #divFooterCenter h4:hover, #divFooterRight h4:hover {
    color: orange;
    text-decoration: none;
}
