@import url(font-awesome.min.css);
@import "http://fonts.googleapis.com/css?family=Raleway";
/* line 8, ../scss/main.scss */
body {
  background-image: url("../img/background.png");
  overflow: hidden;
}

@media (min-width: 0px) and (max-width: 360px) {
  /* line 14, ../scss/main.scss */
  .div_login {
    width: 100%;
    min-width: 350px;
    margin-left: -7px !important;
  }

  /* line 20, ../scss/main.scss */
  .img_close_div {
    top: 10px !important;
    right: 26px !important;
  }

  /* line 25, ../scss/main.scss */
  .form_login {
    padding-left: 40px !important;
    border-radius: 0px !important;
    border-left: none !important;
    border-right: none !important;
  }
}
@media (min-width: 0px) and (max-width: 440px) {
  /* line 35, ../scss/main.scss */
  .buttons_operations {
    width: 100% !important;
    margin-left: -6px !important;
  }

  /* line 40, ../scss/main.scss */
  .div_register {
    width: 100%;
    max-height: 100%;
    min-width: 370px;
    margin-left: -8px !important;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 49, ../scss/main.scss */
  .form_register {
    border-radius: 0px !important;
    border: none !important;
    padding-left: 20px;
  }

  /* line 55, ../scss/main.scss */
  .div_first_name {
    width: 100% !important;
    margin-top: 2% !important;
  }

  /* line 59, ../scss/main.scss */
  .div_last_name {
    float: left !important;
    width: 100% !important;
    margin-top: 2% !important;
  }

  /* line 64, ../scss/main.scss */
  .div_email {
    width: 100% !important;
    margin-top: 2% !important;
  }

  /* line 68, ../scss/main.scss */
  .div_data {
    width: 100% !important;
    margin-top: 2% !important;
  }

  /* line 72, ../scss/main.scss */
  .div_username {
    float: left !important;
    width: 100% !important;
    margin-top: 2% !important;
  }

  /* line 77, ../scss/main.scss */
  .div_password {
    width: 100% !important;
    margin-top: 2% !important;
  }

  /* line 81, ../scss/main.scss */
  .div_password_confirm {
    float: left !important;
    width: 100% !important;
    margin-top: 2% !important;
  }
}
@media (min-width: 0px) and (max-width: 520px) {
  /* line 89, ../scss/main.scss */
  #img_close_div_register {
    top: 8px !important;
    right: 12px !important;
  }
}
/* line 97, ../scss/main.scss */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 103, ../scss/main.scss */
.div_register, .div_login {
  display: none;
  max-width: 100%;
}

/* line 108, ../scss/main.scss */
h1 {
  font-family: "Raleway";
  font-style: italic;
  color: #fff;
}

/* line 112, ../scss/main.scss */
.buttons_operations {
  opacity: 0;
  display: none;
  width: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* line 126, ../scss/main.scss */
.button_register {
  margin-right: 7px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.20em;
  /*&:focus{
  	background-color: rgba(255, 255, 255, 0.175);
  }*/
}
/* line 11, ../scss/_mixins.scss */
.button_register:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.60s;
}
/* line 21, ../scss/_mixins.scss */
.button_register:active {
  background-color: rgba(255, 255, 255, 0.175);
}

/* line 131, ../scss/main.scss */
.button_login {
  margin-left: 7px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.20em;
  /*&:focus{
  	background-color: rgba(255, 255, 255, 0.175);
  }*/
}
/* line 11, ../scss/_mixins.scss */
.button_login:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.60s;
}
/* line 21, ../scss/_mixins.scss */
.button_login:active {
  background-color: rgba(255, 255, 255, 0.175);
}

/* line 136, ../scss/main.scss */
.div_register {
  width: 466px;
  opacity: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

/* line 142, ../scss/main.scss */
.div_login {
  width: 354px;
  opacity: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

/* line 148, ../scss/main.scss */
.form_register {
  max-width: 100%;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: raleway;
  background-color: rgba(255, 255, 255, 0.01);
}

/* line 155, ../scss/main.scss */
.form_login {
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: raleway;
  background-color: rgba(255, 255, 255, 0.01);
}

/* line 162, ../scss/main.scss */
.img_close_div {
  position: absolute;
  right: -19px;
  top: -18px;
  cursor: pointer;
  z-index: 1;
}

/* line 170, ../scss/main.scss */
.img_close_div:hover {
  background-color: transparent;
  width: 43px;
  height: 43px;
  transition-duration: 1s;
}

/* line 177, ../scss/main.scss */
input[type="submit"] {
  margin-top: 6px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.20em;
  /*&:focus{
  	background-color: rgba(255, 255, 255, 0.175);
  }*/
}
/* line 11, ../scss/_mixins.scss */
input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.60s;
}
/* line 21, ../scss/_mixins.scss */
input[type="submit"]:active {
  background-color: rgba(255, 255, 255, 0.175);
}

/* line 182, ../scss/main.scss */
input[type="reset"] {
  margin-top: 6px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid white;
  min-width: 7.5rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.20em;
  /*&:focus{
  	background-color: rgba(255, 255, 255, 0.175);
  }*/
}
/* line 11, ../scss/_mixins.scss */
input[type="reset"]:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.60s;
}
/* line 21, ../scss/_mixins.scss */
input[type="reset"]:active {
  background-color: rgba(255, 255, 255, 0.175);
}

/* line 187, ../scss/main.scss */
input[type="text"] {
  background-color: rgba(255, 255, 255, 0.075);
  color: #fff;
  border: 1px solid white;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  height: 2.2em;
  padding-left: 0.45em;
  border-radius: 5px;
}
/* line 36, ../scss/_mixins.scss */
input[type="text"]:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.40s;
}
/* line 42, ../scss/_mixins.scss */
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.12);
  transition-duration: 0.40s;
}

/* line 191, ../scss/main.scss */
input[type="email"] {
  background-color: rgba(255, 255, 255, 0.075);
  color: #fff;
  border: 1px solid white;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  height: 2.2em;
  padding-left: 0.45em;
  border-radius: 5px;
}
/* line 36, ../scss/_mixins.scss */
input[type="email"]:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.40s;
}
/* line 42, ../scss/_mixins.scss */
input[type="email"]:focus {
  background-color: rgba(255, 255, 255, 0.12);
  transition-duration: 0.40s;
}

/* line 195, ../scss/main.scss */
input[type="password"] {
  background-color: rgba(255, 255, 255, 0.075);
  color: #fff;
  border: 1px solid white;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  height: 2.2em;
  padding-left: 0.45em;
  border-radius: 5px;
}
/* line 36, ../scss/_mixins.scss */
input[type="password"]:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.40s;
}
/* line 42, ../scss/_mixins.scss */
input[type="password"]:focus {
  background-color: rgba(255, 255, 255, 0.12);
  transition-duration: 0.40s;
}

/* line 199, ../scss/main.scss */
input[type="date"] {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.075);
  color: #fff;
  border: 1px solid white;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  height: 2.2em;
  padding-left: 0.45em;
  border-radius: 5px;
}
/* line 36, ../scss/_mixins.scss */
input[type="date"]:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(79, 199, 255, 0.9);
  transition-duration: 0.40s;
}
/* line 42, ../scss/_mixins.scss */
input[type="date"]:focus {
  background-color: rgba(255, 255, 255, 0.12);
  transition-duration: 0.40s;
}

/* line 204, ../scss/main.scss */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

/* line 209, ../scss/main.scss */
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  color: white;
  background-color: transparent;
}

/* line 214, ../scss/main.scss */
label {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 0.30em;
  font-size: 11px;
  letter-spacing: 0.15em;
  color: #fff;
  text-transform: uppercase;
}

/* line 218, ../scss/main.scss */
.div_first_name {
  width: 46%;
  float: left;
}

/* line 222, ../scss/main.scss */
.div_last_name {
  width: 46%;
  float: right;
}

/* line 226, ../scss/main.scss */
.div_data {
  width: 46%;
  float: left;
}

/* line 231, ../scss/main.scss */
.div_username {
  width: 46%;
  float: right;
}

/* line 236, ../scss/main.scss */
.div_password {
  width: 46%;
  height: 70.328px;
  float: left;
}

/* line 242, ../scss/main.scss */
.div_password_confirm {
  width: 46%;
  float: right;
}

/* line 247, ../scss/main.scss */
textarea {
  resize: none;
  background-color: rgba(255, 255, 255, 0.075);
  color: #fff;
  border: 1px solid white;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  padding-left: 0.75em;
  border-radius: 5px;
  	/*&::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }*/
}
/* line 250, ../scss/main.scss */
textarea::-webkit-scrollbar {
  background-color: transparent;
}
/* line 254, ../scss/main.scss */
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
}

/* line 265, ../scss/main.scss */
input[type="checkbox"] + .rdb_agreement_label {
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 0.15rem;
  display: inline-block;
  margin: 0 0 0.5rem 0;
  padding-left: 2.15rem;
  padding-right: 0.75rem;
  position: relative;
  text-transform: uppercase;
}

/* line 279, ../scss/main.scss */
input[type="checkbox"] + .rdb_agreement_label:before {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 4px;
  border: solid 1px #fff;
  content: '';
  display: inline-block;
  height: 1.35rem;
  left: 0;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  width: 1.35rem;
  vertical-align: middle;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

/* line 299, ../scss/main.scss */
input[type="checkbox"]:checked + .rdb_agreement_label:before {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000;
  content: "\f00c";
}

/* line 306, ../scss/main.scss */
input[type="checkbox"] {
  display: block;
  width: 1rem;
  float: left;
  margin-right: -2em;
  opacity: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-appearance: none;
}

/* line 318, ../scss/main.scss */
.submit, .reset {
  border-radius: 5px;
}

/* line 322, ../scss/main.scss */
.submit {
  margin-right: 5px;
  color: black !important;
  background-color: white !important;
  font-weight: 400;
}

/* line 329, ../scss/main.scss */
.reset {
  margin-left: 5px;
}
